@{
    ViewBag.Title = "About";
}
<div class="generic_root">
    <div class="generic_header">
        @ViewBag.Title
    </div>
    <h3>What's My Employability?</h3>

    <div class="col-md-12 about-text">
        <p>
            My Employability is a global platform to measure the employability of a student or an employee.
            Students could undertake the assessment at any time during their studies, 
            and/or as part of measuring the impact of a Work Integrated Learning (WIL) experience.
            Employers can monitor the employability development of their employees.
            The platform will provide benefit to global education institutions and employers, 
            who want to build best practice in students' employability and employee satisfaction and to third party data companies.
        </p>
    </div>
    <br>
    <h3>Why do we need My Employability?</h3>

    <div class="col-md-12 about-text">
        <p>
            The University of Melbourne is now targeting improved graduate job outcomes, with a
            focus of building students’ employability. Education institutions worldwide are under pressure to
            provide measurable outcomes of how they are building employability in their students, and
            employers are seeking ways to manage and motivate their workforce. Although there are various
            job-hunting platforms in the market, few of them are able to measure the employability of a job
            seeker.
        </p>
        <p>
            In such background, My Employability, as an innovative web application,
            aims to quantify the employability of a student or an employee. By using My Employability,
        </p>
        <ul>
            <li>
                <b>Educational institutions</b> can assess the employability of their students and compare it
                with the market average, to make corresponding adjustments to their teaching
                objectives and education modes.
            </li>
            <li>
                <b>Employers</b> can monitor the employability development of their employees. They can also
                know the competitiveness of their employees compared with other companies. On the
                other hand, employees are encouraged to self-assess their way to continuous learning
                and improving employability.
            </li>
            <li>
                <b>Data companies</b> can analyse the data provided by the platform to assess the
                employability of (potential) employees in the market, and analyse the trend by comparing
                with historical data.
            </li>
        </ul>
        <p>
            Hosted by the University of Melbourne, My Employability platform can ensure its high-quality
            service and great reputation for measuring employability of student and employees to satisfy
            existing demand in the market.
        </p>
    </div>
</div>