@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="generic_root">
    <div class="generic_header">Page Not Found</div>
    <p>Oops! You found an old, missing, or on develop page.</p>
</div>