﻿<br><br>
@{
    ViewBag.Title = "ThankYou";
}
<div class="jumbotron">
    <h1>Thank you for your participating!</h1>
    <p class="lead"><br>@Html.ActionLink("Back to Home", "Index")<br></p>
</div>
